<table class="table table-hover sortable" >
	<thead>
  	<tr>
    	<th></th>
      <th>Sort by time</th>
    </tr>
  </thead>
  <tbody>
		<% @sorted.each do |tweet| %>
  		<tr>
    		<td><%= tweet[0] %>: <%= tweet[1] %></td>
  		</tr>
  	<%end%>
	</tbody>
</table>
    